
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html, body {
	height: 100%;
}

body {
	background: $grey-darkest;
	color: $grey-lightest;
	font-family: $font-default;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}

h1, h2, h3 {
	font-family: $font-alternate;
}


* {
	box-sizing: border-box;
}

.container {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow: hidden;

	// @include mq($until: 'sm') {
	// 	flex-direction: column;
	// }

	.sidebarContainer {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		pointer-events: none;

		aside {
			padding: $gap;
			background: fade-out($grey-darkest, .3);
			border: 0 solid $grey-darkest;

			border-width: 0px 1px 0px 1px;
			pointer-events: all;
		}
	}

	section.mapContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		overflow: hidden;

		justify-content: center;
		align-items: center;

		map, svg {
			width: 100%;
		}
	}
}
