
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html, body {
	height: 100%;
}

body {
	background: $grey-darkest;
	color: $grey-lightest;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
}


* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100%;

	// @include mq($until: 'sm') {
	// 	flex-direction: column;
	// }

	aside.sidebar {
		display: flex;
		flex-direction: column;
		width: 10%;
	}

	section.mapContainer {
		display: flex;
		flex-direction: column;
		width: 85%;
		overflow: hidden;

		justify-content: center;
		align-items: center;
	}

	aside.stats {
		display: flex;
		flex-direction: column;
		width: 15%;
	}
}
