
.map {
	&__constituency {
		fill: $grey-darker;
		stroke: $grey-darkest;
		stroke-width: .3;
		cursor: pointer;
		fill-opacity: 1;
		-webkit-filter: drop-shadow(16px 16px 20px red);
		filter: drop-shadow(16px 16px 20px red)

		&:hover {
			fill-opacity: 1;
			z-index: 2;
			stroke: $grey-darkest;
		}

		&--active {
			fill: currentColor;
		}
	}

	&__nonconstituency {
		fill: $grey;
		stroke: $grey-darker;
		stroke-width: .5;
		fill-opacity: .4;
	}
}
