
aside.sidebar {
	display: flex;
	flex-direction: column;
	width: $sidebar-width;

	.resetButton {
		margin-bottom: $gap;
	}
}

aside.stats {
	display: flex;
	flex-direction: column;
	width: $sidebar-width;
}
