html,
body{
  height:100%;
}

body{
  background:#202628;
  color:#C2CCD1;
  font-family:sans-serif;
  font-size:14px;
  margin:0;
}

*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  height:100%;
}

.container aside{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width:10%;
}

.container section.mapContainer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width:90%;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.map__constituency{
  stroke:#2B3233;
  stroke-width:.5;
  cursor:pointer;
  fill-opacity:.4;
}

.map__constituency:hover{
  fill-opacity:1;
  z-index:2;
  stroke:#202628;
}

.map__constituency--active{
  fill-opacity:1;
}

