[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak{
  display:none !important;
}

html,
body{
  height:100%;
}

body{
  background:#202628;
  color:#C2CCD1;
  font-family:"Raleway", sans-serif;
  font-size:14px;
  font-weight:400;
  margin:0;
}

h1,
h2,
h3{
  font-family:"Catamaran", sans-serif;
}

*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.container{
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  height:100%;
  overflow:hidden;
}

.container .sidebarContainer{
  position:absolute;
  width:100%;
  height:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  pointer-events:none;
}

.container .sidebarContainer aside{
  padding:24px;
  background:rgba(32, 38, 40, 0.4);
  border:0 solid #202628;
  border-width:0px 1px 0px 1px;
  pointer-events:all;
}

.container section.mapContainer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width:100%;
  overflow:hidden;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.container section.mapContainer map,
.container section.mapContainer svg{
  width:100%;
}

.map__svg{
  padding-left:20%;
}

.map__constituency{
  fill:#2B3233;
  stroke:#202628;
  stroke-width:.3;
  cursor:pointer;
  fill-opacity:1;
}

.map__constituency:hover{
  fill-opacity:1;
  z-index:2;
  stroke:#202628;
}

.map__constituency--active{
  fill:currentColor;
}

.map__constituency--foreign{
  fill:#232a2c;
  stroke:#222728;
  stroke-width:.5;
  fill-opacity:1;
  cursor:default;
}

aside.sidebar{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width:20%;
}

aside.sidebar .resetButton{
  margin-bottom:24px;
}

aside.stats{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width:20%;
}

input,
select,
textarea{
  width:100%;
  font-family:"Raleway", sans-serif;
  font-size:16px;
  padding:12px 6px;
}

input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus{
  outline:none;
}

select{
  background:none;
  font-size:16px;
  height:50px;
  color:#966C5D;
  border:1px solid #2B3233;
  border:none;
}

button{
  background:#202628;
  border:1px solid #966C5D;
  padding:6px 24px;
  color:#966C5D;
  font-size:16px;
  font-weight:400;
}

button:hover{
  border-color:#ac877a;
  color:#ac877a;
}

button:hover:not([disabled]){
  cursor:pointer;
}

button:active,
button:focus{
  outline:none;
}

